html {
    margin: 0;
    padding: 0;
    font: normal 100%1.4 Georgia,serif;
}

.current {
    background-color: #000531;
    color: #fff;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav > li {
    display: inline-block;
}

.nav-top {
    font-size: 1.25rem;
}