---
layout: front-page
title: "关于 莫烦"
youtube_id: DUZcIna1DWE
youku_id: XMTU5NTQ2Mjc3Mg
permalink: /about/
items:
  - [text, Email, "morvanzhou@hotmail.com"]
  - [link, Youtube, "https://www.youtube.com/user/MorvanZhou"]
  - [link, 优酷, "http://i.youku.com/pythontutorial"]
  - [link, 网易云课堂, "http://study.163.com/u/2635988091/"]
  - [link, Github, "https://github.com/MorvanZhou"]
  - [link, 微博, "http://weibo.com/u/5945530751"]
  - [link, 知乎, "https://zhuanlan.zhihu.com/morvan"]
  - [text, 机器学习 QQ群, 531670665]
  - [text, 强化学习 QQ群, 294229279]
  - [text, CNN QQ群, 483723575]
  - [text, RNN QQ群, 568841300]
---

{% include embedded-video.html %}

<div class="pad-main">
	<p>
		<img src="/static/img/description/my_pic.jpg" alt="My smile" style="float:left;width:20%;padding:10px;border-radius:50%;">
	  我叫 <strong>周沫凡 Mofan Zhou</strong> , 所以 <em>"莫烦"</em> 这个名字也是取了个谐音而已.
	  大家多少在学习程序语言的时候都会有摸不着头脑的时候, 而<em> "莫烦" </em>也正是这个意思. 当你跨入程序语言的时候,
	  就相当于入了一个深坑, 我们还是得耐下性子, 好好地在这个黑暗的深坑中不断探索.
	</p>
	<p>
	  所以我就用我的名字鼓励大家. 即使遇到再多再大的困难, 我们还是要抱着一种
	   <em>莫烦</em> 的态度, 努力到底.
	</p>
	<p>
		原本, 我只是一名普普通通的 PhD 学生, 因为专业不对口, 之前学的东西在 PhD 的时候统统用不上,
		然后我就开始了我漫长的自学道路. 你在这个网页看到的所有内容, 都是我在网上探索, 自学而来的.
		所以说, 真正的大学, 其实就是锻炼你自学能力的地方. 我很欣赏网上那些默默奉献的人们, 分享自己所学的东西给了我.
		所以这就是我创建 <a href="http://i.youku.com/pythontutorial" target="_blank"><em>优酷</em></a> 和
		<a href="https://www.youtube.com/channel/UCdyjiB5H8Pu7aDTNVXTTpcg" target="_blank"><em>Youtube</em></a>
		个人频道的萌芽. 我也要回报那些奉献的人们, 将我的所学奉献给大家~
	</p>

	<br>
	<h4>
		我的一点点背景资料
	</h4>
	<ul>
		<li type="disc">1992~, 湖南人</li>
		<li type="disc">2004~2010, 雅礼中学, 长沙</li>
		<li type="disc">2010~2012, 土木工程, 桂林理工</li>
		<li type="disc">2013~2015, Bachelor, Civil Engineering, Griffith University, Australia</li>
		<li type="disc">2015~, PhD, Intelligent Transportation, Griffith University, Australia</li>
		<li type="disc">2016~, Visiting researcher in UTS, Australia</li>
	</ul>
	<br>

	<h4>
		讨论与观看动向
	</h4>
	<p>
	    联系到我有很多种方式, 欢迎大家用各种途径留言, 有时间的话, 我会尽量回复你的留言或问题. 以下是几种可以讨论的方式:
	</p>
	<div id="contact-table" style="font-size:0.9em;">
		{% for item in page.items %}
			<div class="row">
			  <p style="color: #028e3d;">{{ item[1] }}:</p>
				{% if item[0] == "link" %}
			    <a href="{{ item[2] }}" style="font-size:0.7em;" target="_blank">
				    {{ item[2] }}
			    </a>
				{% elsif item[0] == "text" %}
				  <span style="text-decoration:none; color:#00b359;" >
				    {{ item[2] }}
			    </span>
				{% endif %}
			</div>
		{% endfor %}

	</div>
</div>
