---
layout: tutorials
permalink: /tutorials/
tut-title: Python 教程
tut-link: /tutorials/
sections:
  - [Python基础, /tutorials/python-basic/]
  - [机器学习, /tutorials/machine-learning/]
  - [数据处理, /tutorials/data-manipulation/]
  - [其他, /tutorials/others/]
---


<br style="clear: left; padding-bottom: 3em;">

<h2>近期更新</h2>
<hr style="clear: left; width: 80%;">
<ul id="recent-update">
  {% assign items = (site.contents | where: "sort-date", "true") %}
  {% assign sorted-items = (items | sort: "publish-date") | reverse %}
  {% for item in sorted-items limit:6 %}

    <li><a href="{{item.url}}">
      <img alt="{{item.title}}" src="{{item.thumbnail}}" height="130">
    </a></li>

  {% endfor %}
</ul>
<br style="clear: left;">
<hr style="clear: left; width: 80%;">
<br style="clear: left; padding-bottom: 4em;">


{% assign descriptions = site.contents | where: "description", "tutorial-home-page" %}

{% include description-loop.html descriptions=descriptions %}
