---
layout: front-page
title: "教程一览"
permalink: /tutorials/
tut-title: "Python 教程"
tut-link: /tutorials/
sections:
  - [Python基础, /tutorials/python-basic/]
  - [机器学习, /tutorials/machine-learning/]
  - [数据处理, /tutorials/data-manipulation/]
  - [其他, /tutorials/others/]
description: "关于 Python, 学习资料层出不穷, 在教学资料如山的时代, 这一个网站为你提供最系统化, 最优质化的学习资料.
这里特别注重机器学习方面的教学. 让你从一个对 Python, 对机器学习的小白, 立马变成掌握这门技术的先驱者."
---


<br style="clear: left; padding-bottom: 3em;">

<h2>近期更新</h2>
<hr style="clear: left; width: 80%;">
<ul id="recent-update">
  {% assign items = (site.contents | where: "sort-date", "true") %}
  {% assign sorted-items = (items | sort: "publish-date") | reverse %}
  {% for item in sorted-items limit:20 %}

    <li><a href="{{item.url}}">
      <img alt="{{item.title}}" src="{{item.thumbnail}}" height="130">
    </a></li>

  {% endfor %}
</ul>
<br style="clear: left;">
<hr style="clear: left; width: 80%;">
<br style="clear: left; padding-bottom: 4em;">

{% include description-loop.html url=page.url %}