
<hr>
<h4>正在施工~~志愿者招募</h4>
<p style="font-size: 0.7em;">
    莫烦 Python 的教学网站正在火速建设中, 你很可能就在这一条高速公路上发现正在施工的牌子. 所以何不加入我们一起建设呢?
    通过志愿者们的努力, 文字教程已经初具雏形. 机器学习和数据分析方面的已经基本完工, 但是 <a href="/tutorials/python-basic/">python 基础</a>的部分还有很多等待着完善.
</p>
<p style="font-size: 0.7em;">
    如果你也愿意成为这样一位志愿者, 在教程的标题下方留下自己的名字, 印记. 那就不要犹豫, 加入我们把! 志愿者的具体信息可以在这里查询到:
    <a href="https://github.com/MorvanZhou/morvanzhou.github.io/tree/master/static/announcement-files">志愿者说明及编辑模板</a>
    如果觉得有能力, 时间做一名志愿者, 请将意愿发送到 morvanzhou@hotmail.com 感谢你的支持!
</p>
<hr>
