
<!-- 来必力 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8yNzI5MC8zODc1">
	<script async type="text/javascript">
	window.addEventListener('load', function(){
    // 来必力正式代码
		(function(d, s) {

			var j, e = d.getElementsByTagName(s)[0];

			if (typeof LivereTower === 'function') { return; }

			j = d.createElement(s);
			j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
			j.async = true;

			e.parentNode.insertBefore(j, e);

		})(document, 'script');
  }, false)
	</script>
	<noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
</div>
<!-- City版安装代码已完成 -->
