
{% assign descriptions = site.loop-description | where: "module", page.module %}
{% for description in descriptions %}
<div class="section ie-size">
	<div class="pad-main">
		<a class="non-underscore hover-move" href="{{description.tut-dir}}"><h1 class="small-h1">
			<img class="icon-image lazy-img" data-src="{{description.icon-dir}}">
				{{description.title}}</h1>
		</a>


		{% if description.tut-course-detail %}
		<ul class="tut-course-thumbnail">
	  {% for item in description.tut-course-detail %}
	    <li><a href="{{ item[0] }}/">
	     <img class="lazy-img" alt="{{ item[1] }}" data-src="{{ item[2] }}" src="/static/img/description/loading.gif" title='{{ item[1] }}'>
	    </a></li>
	  {% endfor %}
	  </ul>
		<br>
		{% endif %}

		<p>
			{{ description.excerpt }}
		</p>

	</div>
</div>
{% endfor %}
