
{% assign words = include.url | split: '/' %}
{% assign descriptions = site.contents | where: "content-for", words[-1] %}
{% assign descriptions = descriptions | sort: "path" %}
{% for description in descriptions %}
<div class="section ie-size">
	<div class="pad-main">
	<a class="non-underscore hover-move" href="{{description.tut-dir}}"><h1 class="small-h1">
		<img class="icon-image" src="{{description.icon-dir}}">
			{{description.title}}</h1></a>
	{{ description.content }}
	</div>
</div>
{% endfor %}
