
<!--
<div class="video-container">
	{% if page.autoplay == true %}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{include.youtube_id}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
	{% else %}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{include.youtube_id}}" frameborder="0" allowfullscreen></iframe>
	{% endif %}
</div>
<p class="link-under-youtube">(观看优酷的视频请<a href="{{ include.youku_link }}" target="_blank">点击这里)</a></p>
-->

<div class="video-container">
<iframe id="myVideo" class="myvideo" width="560" height="315" src="https://www.youtube.com/embed/{{page.youtube_id}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>

<button onclick="myFunction()" type="button" id="switch-video">切换成 优酷 视频</button>

<script type="text/javascript">
var vid = document.getElementById("myVideo");
var statusElement = document.getElementById("switch-video");
var currentlyPlaying = 1;
var currentlPlayingTime

var src1 = "https://www.youtube.com/embed/{{page.youtube_id}}";

var src2 = "http://player.youku.com/embed/{{page.youku_id}}";

function myFunction() {
    currentlPlayingTime = vid.currentTime;
    if (currentlyPlaying === 1) {
        vid.src = src2;
        currentlyPlaying = 2;
        statusElement.innerText = '切换成 Youtube 视频';
    } else {
        vid.src = src1;
        currentlyPlaying = 1;
        statusElement.innerText = '切换成 优酷 视频';
    }
    vid.playVideo();
    vid.addEventListener('loadedmetadata', function () {
        vid.currentTime = currentlPlayingTime;
    }, false);
}
</script>