
{% if page.no-video == true%}
	<br><br>
	<span style="color:#F56100;font-size: 2.5em;text-align: center;padding: 0.1em 0.2em;display: block;">
		此节只有文字教学~</span>
	<br>
{% else %}
	{% if page.youtube_id %}

	<div id="videogfw" class="video-container">
	<script type="text/javascript">
		var youtube_src = "//www.youtube.com/embed/{{page.youtube_id}}";
		var youku_src = "//player.youku.com/embed/{{page.youku_id}}==";
		{% assign aidpage = page.bilibili_id | split:'&' %}
		var bilibili_src = "//player.bilibili.com/player.html?aid={{ aidpage[0] }}&cid={{ page.b-cid }}&{{ aidpage[1] }}";

		// var bilibili_src = "//static.hdslb.com/miniloader.swf?aid={{page.bilibili_id}}";
		// var alternate_src = "//player.youku.com/player.php/sid/{{page.youku_id}}==/v.swf";

		// the default video source you wanna play
		chooseVideo(youtube_src, "youtube", "{{page.youtube_id}}");

		// Uncomment the following line if you want
		// it automatically select the video source
		// according to ip address:
		var len_b = "{{page.bilibili_id}}";

		// if don't have bilibili video
		if (len_b.length != 0)
		{
		videoChinaIP(bilibili_src, 'bilibili', '{{page.bilibili_id}}');
		}
		else
		{
		videoChinaIP(youku_src, 'youku', '{{page.youku_id}}');
		}
	</script>
	</div>

	<div class="switch-video-div">
		视频源：
		{% if page.youtube_id %}
		<button class="switch-video-btn" onclick="chooseVideo(youtube_src, 'youtube', '{{page.youtube_id}}')">
			YouTube
		</button>
		{% endif %}

		{% if page.youku_id %}
		<button class="switch-video-btn" onclick="chooseVideo(youku_src, 'youku', '{{page.youku_id}}')">
			优酷
		</button>
		{% endif %}

		{% if page.bilibili_id %}
		<button class="switch-video-btn" onclick="chooseVideo(bilibili_src, 'bilibili', '{{page.bilibili_id}}')">
	    	Bilibili
	    </button>
		{% endif %}

		<p id="video-alrt-info" style="display: none; font-size: 0.8em; text-align: center;">
		</p>


	</div>


	{% else %}
		<br><br>
		<span style="color:#F56100;font-size: 2.5em;text-align: center;padding: 0.1em 0.2em;display: block;">
			此节内容视频还在录制中, 敬请期待~</span>
		<br><br>
	{% endif %}

{% endif %}

