<p>关注我的动向:</p>
<ul>
  <li><a href="https://www.youtube.com/user/MorvanZhou" target="_blank"><font color="white">Youtube频道</font></a> </li>
  <li><a href="http://i.youku.com/pythontutorial" target="_blank"><font color="white">优酷频道</font></a></li>
  <li><a href="https://github.com/MorvanZhou" target="_blank"><font color="white">Github</font></a></li>
  <li><a href="http://weibo.com/u/5945530751" target="_blank"><font color="white">微博</font></a></li>
  <li><a href="https://www.zhihu.com/people/morvan/activities" target="_blank"><font color="white">知乎</font></a></li>
</ul>
<br>
<p><strong>Email:</strong>  morvanzhou@hotmail.com</p>
<p>&copy; 2017 morvanzhou.github.io. All Rights Reserved</p>