<p>关注我的动向:</p>
<ul>
  <li><a href="https://www.youtube.com/user/MorvanZhou" target="_blank">
    <img class="icon" src="/static/img/icon/youtube.png" alt="Youtube频道"></a></li>
  <li><a href="http://i.youku.com/pythontutorial" target="_blank">
    <img class="icon" src="/static/img/icon/youku.png" alt="优酷频道"></a></li>
  <li><a href="https://space.bilibili.com/243821484#!/channel/index" target="_blank">
    <img class="icon" src="/static/img/icon/bilibili_icon.png" alt="Bilibili"></a></li>
  <li><a href="https://github.com/MorvanZhou" target="_blank">
    <img class="icon" src="/static/img/icon/github.png" alt="Github"></a></li>
  <li><a href="http://weibo.com/u/5945530751" target="_blank">
    <img class="icon" src="/static/img/icon/weibo.png" alt="微博"></a></li>
  <li><a href="https://www.zhihu.com/people/morvan/activities" target="_blank">
    <img class="icon" src="/static/img/icon/zhihu.png" alt="知乎"></a></li>
</ul>
<br>
<br>
<p><strong>Email:</strong>  morvanzhou@hotmail.com</p>
<p>&copy; 2017 morvanzhou.github.io All Rights Reserved</p>