<nav id="home-nav">
  <ul>
    <li><a class="nav-home" href="{{site.baseurl}}/" ><strong>莫烦PYTHON</strong></a></li>
    <li class="dropbtn">
      <a href="{{site.baseurl}}/tutorials/"
         class="{% if page.url  == '/tutorials/' %} current-nav {% endif %}">教程 ▾</a>
      <ul class="dropdown-content">
        <li><a href="{{site.baseurl}}/tutorials/python-basic/" >Python 基础</a></li>
        <li><a href="{{site.baseurl}}/tutorials/machine-learning/" >机器学习</a></li>
        <li><a href="{{site.baseurl}}/tutorials/data-manipulation/" >数据处理</a></li>
        <li><a href="{{site.baseurl}}/tutorials/others/" >其他</a></li>
      </ul>
    </li>
    <li>
      <a href="{{site.baseurl}}/discuss/"
      >大家说</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/support/">
        赞助</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/about/" class="{% if page.url == '/about/' %}
           current-nav {% endif %}">About</a>
    </li>
  </ul>
</nav>

