<br style="clear: left; padding-bottom: 3em;">

<h1 class="small-h1">近期更新</h1>
<hr style="clear: left; width: 80%;">
<ul id="recent-update">
  {% assign items = (site.contents | where: "sort-date", "true") %}
  {% assign sorted-items = (items | sort: "publish-date") | reverse %}
  {% for item in sorted-items limit:15 %}

    <li><a href="{{item.url}}">
      <img alt="{{item.title}}" src="{{item.thumbnail}}" height="130">
    </a></li>

  {% endfor %}
</ul>

<hr style="clear: left; width: 80%;">
<br style="clear: left; padding-bottom: 4em;">