<div class="section ie-size">
  <a class="non-underscore hover-move" href="/recent-posts/">
    <h1 class="small-h1" style="padding-top:1em;margin-top:0;">
    近期更新</h1>
  </a>

  <ul id="recent-update" style="padding-bottom:2em;">
    {% assign sorted-items = site.tutorials | sort: "publish-date" | reverse | slice: 0, 5 %}
    {% for item in sorted-items %}

    <li><a href="{{item.url}}">
      <img class="lazy-img" alt="{{item.title}}" data-src="{{item.thumbnail}}" src="/static/img/description/loading.gif" height="130">
    </a></li>

    {% endfor %}
    <li><a href="/recent-posts/">
      <img class="lazy-img" alt="More recent posts" data-src="/static/img/description/more_update.png" src="/static/img/description/loading.gif" height="130">
    </a></li>

  </ul>
</div>