
<p style="font-size: 0.8em; padding:4em 1em 0.5em 1em; margin: 0 auto;">
  <!-- share -->
  <strong style="vertical-align: top;">分享到:</strong>
  <!-- facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://morvanzhou.github.io{{page.url}}&pic=https://morvanzhou.github.io{{page.thumbnail}}" target="_blank">
      <img class="cycle-img" src="/static/img/icon/share_facebook_icon.png" width="50px" height="50px" alt="Facebook">
  </a>
  <!-- weibo -->
  <a href='https://service.weibo.com/share/share.php?url=https://morvanzhou.github.io{{page.url}}&type=icon&language=zh_cn&searchPic=true&title={{page.title}}+|+莫烦Python&pic=https://morvanzhou.github.io{{page.thumbnail}}' target="_blank">
      <img class="cycle-img" src="/static/img/icon/share_weibo_icon.png" width="50px" height="50px" alt="微博">
  </a>
	<!-- weichat -->
	<a href="https://api.addthis.com/oexchange/0.8/forward/wechat/offer?url=https://morvanzhou.github.io{{page.url}}&title={{page.title}}+|+莫烦Python&pco=bmt-300&pubid=ra-51801b2377872ab3&referer=https://morvanzhou.github.io{{page.url}}" target="_blank">
		<img class="cycle-img" src="/static/img/icon/share_wechat_icon.png" width="50px" height="50px" alt="微信">
	</a>
	<!-- twitter -->
	<a href="https://twitter.com/intent/tweet?url=https://morvanzhou.github.io{{page.url}}&original_referer=https://morvanzhou.github.io{{page.url}}" target="_blank">
		<img class="cycle-img" src="/static/img/icon/share_twitter_icon.png" width="50px" height="50px" alt="Twitter">
	</a>



  <br>
  如果你觉得这篇文章或视频对你的学习很有帮助, 请你也分享它, 让它能再次帮助到更多的需要学习的人.

  莫烦没有正式的经济来源, 如果你也想支持 <strong>莫烦Python</strong> 并看到更好的教学内容, <a href="/support/">赞助</a>他一点点, 作为鼓励他继续开源的动力.
</p>

<h3 id="bottom-donation-title">支持 让教学变得更优秀</h3>
<br>
<div>
    <a id="bottom-donation-button" href="{{site.baseurl}}/support/">点我 赞助 莫烦</a>
</div>
<br>
