<head>
<style>
  .tutorial-side-menu {
  position: fixed;
  top: 30px;
  right: 40px;
  }
</style>
</head>
<body>

<div class="tutorial-side-menu">
  <ul class="table-of-contents-ul">
		{% for chapter-name in {{include.tut-chapters}} %}
			{% assign chapter-id = forloop.index %}
			<li class="chapter-li"><h4>{{chapter-name}}</h4>
				<ol>
				{% assign tuts = ({{include.tut-category}} | where: "chapter", forloop.index) %}
				{% assign tuts = tuts | sort: "id" %}
			    {% for tut in tuts %}
					{% assign section-id = forloop.index %}
						{% if tut.title != "page default" %}
				      <li class="content-li">
				          <a href="{{site.baseurl}}{{ tut.url }}">{{chapter-id}}.{{section-id}} {{tut.title}}</a>
				      </li>
						{% endif %}
				  {% endfor %}
				</ol>
			</li>
		{% endfor %}
	</ul>
</div>
