---
title: "关于莫烦"
youtube_id: DUZcIna1DWE
youku_id: XMTU5NTQ2Mjc3Mg
bilibili_id: 16017466
permalink: /about/
items:
  - [text, Email, "morvanzhou@hotmail.com"]
  - [link, Youtube, "https://www.youtube.com/user/MorvanZhou"]
  - [link, 优酷, "http://i.youku.com/pythontutorial"]
  - [link, Bilibili, "https://space.bilibili.com/243821484#!/"]
  - [link, 网易云课堂, "http://study.163.com/u/2635988091/"]
  - [link, Github, "https://github.com/MorvanZhou"]
  - [link, 微博, "http://weibo.com/u/5945530751"]
  - [link, 知乎, "https://zhuanlan.zhihu.com/morvan"]
  - [text, 机器学习 QQ群, 531670665]
  - [text, 强化学习 QQ群, 294229279]
  - [text, CNN QQ群, 483723575]
  - [text, RNN QQ群, 568841300]
description: "我叫周沫凡 Mofan Zhou, 所以 莫烦 这个名字也是取了个谐音而已.
大家多少在学习程序语言的时候都会有摸不着头脑的时候, 而 莫烦 也正是这个意思. 当你跨入程序语言的时候,
就相当于入了一个深坑, 我们还是得耐下性子, 好好地在这个黑暗的深坑中不断探索.
所以我就用我的名字鼓励大家. 即使遇到再多再大的困难, 我们还是要抱着一种
莫烦的态度, 努力到底."
---


<div class="section ie-size">
	{% include embedded-video.html %}
	<div class="pad-main">
		<p>
			<img src="/static/img/description/my_pic.jpg" alt="My smile" style="float:left;width:20%;padding:10px;border-radius:50%;">
		  我叫 <strong>周沫凡 Mofan Zhou</strong> , 所以 <em>"莫烦"</em> 这个名字也是取了个谐音而已.
		  我就用我的名字鼓励大家. 即使遇到再多再大的困难, 我们还是要抱着一种
		   <em>莫烦</em> 的态度, 努力到底.
		</p>
		<p>
			原本, 我只是一名普普通通的 PhD 学生, 因为专业不对口, 之前学的东西在 PhD 的时候统统用不上,
			然后我就开始了我漫长的自学道路. 你在这个网页看到的所有内容, 都是我在网上探索, 自学而来的.
			所以说, 真正的大学, 其实就是锻炼你自学能力的地方. 我很欣赏网上那些默默奉献的人们, 分享自己所学的东西给了我.
			所以这就是我创建 <a href="http://i.youku.com/pythontutorial" target="_blank"><em>优酷</em></a> 和
			<a href="https://www.youtube.com/channel/UCdyjiB5H8Pu7aDTNVXTTpcg" target="_blank"><em>Youtube</em></a>
			个人频道的萌芽. 我也要回报那些奉献的人们, 将我的所学奉献给大家~
		</p>
		<p>
			我曾多次被很多在线教育机构邀请作为他们的讲师, 比如<i>优达学城, 中科院在线教育, 炼数成金, 七月在线, MOOC</i> 等.
		  想要合作出书的也有很多, <i>机械工业出版社, 人民邮电出版社</i>等.
			很感谢他们的邀请, 不过我还是谢绝了. 原因很简单, 我不是为了名气而做教程的, 我也喜欢自己的教学模式.
			我每天看到知乎上, 各种网页上发帖奋斗的人们.
			就觉得他们应该很辛苦. 我比较懒, 在外站发帖比较少, 不太想一起挤进去, 所以自己搭了个 "莫烦 Python" 来做点与世无争的教学.
		</p>
		<p>
			有很多网友都问我: "你的教学做得比网上大部分的教学都要好, 可是为什么获得的关注却比他们少?" 我想主要的原因是我不想做 Marketing 这方面的事.
			上面也提到谢绝了很多邀请, 自然出名的机会就少了很多. 个人认为, 我未来更愿意在工业界摸爬滚打,
			而不是学术界, 不过爱分享的性格, 让我能有机会分享这些有趣的内容给大家, 帮助大家, 我也很开心~
		</p>

		<br>
		<h1 class="small-h1">
			我的一点点背景资料 (Mofan's Background)
		</h1>
		<table class="my-background-table">
			<colgroup>
				<col width="15%" />
				<col width="35%" />
				<col width="50%" />
			</colgroup>
			<tbody>
				<tr>
					<td>1992~</td>
					<td>出生</td>
					<td>湖南人(Hunan, China)</td>
				</tr>
				<tr>
					<td>2004~2010</td>
					<td>中学</td>
					<td>雅礼中学, 长沙</td>
				</tr>
				<tr>
					<td>2010~2012</td>
					<td>本科, 土木工程</td>
					<td>桂林理工</td>
				</tr>
				<tr>
					<td>2013~2015</td>
					<td>Bachelor, Civil Engineering</td>
					<td><a href="https://www.griffith.edu.au/">Griffith University</a>, Australia</td>
				</tr>
				<tr>
					<td>2015~2018</td>
					<td>PhD, Intelligent Transportation</td>
					<td><a href="https://www.griffith.edu.au/">Griffith University</a>(Supervisor:
							<a href="https://sites.google.com/site/drxiaoboqu/">Dr. Xiaobo Qu</a>)</td>
				</tr>
				<tr>
					<td>2015</td>
					<td>Internship</td>
					<td><a href="https://www.data61.csiro.au/en/Who-we-are">National ICT Australia</a></td>
				</tr>
				<tr>
					<td>2016~2018</td>
					<td>Visiting researcher</td>
					<td><a href="https://www.uts.edu.au/">UTS</a>, Australia</td>
				</tr>
			</tbody>
		</table>

		<br>

		<h1 class="small-h1">
			讨论与观看动向
		</h1>
		<p>
		    联系到我有很多种方式, 欢迎大家用各种途径留言, 有时间的话, 我会尽量回复你的留言或问题. 以下是几种可以讨论的方式:
		</p>
		<div id="contact-table" style="font-size:0.9em;">
			{% for item in page.items %}
				<div class="row">
				  <p style="color: #028e3d;">{{ item[1] }}:</p>
					{% if item[0] == "link" %}
				    <a href="{{ item[2] }}" style="font-size:0.7em;" target="_blank">
					    {{ item[2] }}
				    </a>
					{% elsif item[0] == "text" %}
					  <span style="text-decoration:none; color:#00b359;" >
					    {{ item[2] }}
				    </span>
					{% endif %}
				</div>
			{% endfor %}

		</div>
	</div>
</div>
