---
title: "推荐学习顺序"
permalink: /learning-steps/
description: "学习机器学习得有个步骤, 下面大家就能按照自己所需, 来探索这个网页."
thumbnail: /static/img/description/learning_step_flowchart.png
---


{% assign items = site.data.learning-steps %}
<div class="section ie-size" >
	<div class="pad-main">
		<h1>{{page.title}}</h1>
		<p>
			学习机器学习得有个步骤, 下面大家就能按照自己所需, 来探索这个网站. 图中请找到 "Start", 然后依次沿着箭头,
			看看有没有不了解/没学过的地方, 接着, 就能在底下的链接中找到对应的链接去往合适自己的地方.
		</p>

		<a href="/static/img/description/learning_step_flowchart.png">
			<img class="lazy-img" data-src="/static/img/description/learning_step_flowchart.png" src="/static/img/description/loading.gif"
			     alt="learning step flowchart" style="width:100%">
		</a>

		<ol>
		  {% for item in items %}
			<li><a href="{{item.h1[1]}}">{{item.h1[0]}}</a></li>
				{% if item.h2 %}
				<ol>
					{% for h2 in item.h2 %}
					<li><a href="{{h2[1]}}">{{h2[0]}}</a></li>
					{% endfor %}
				</ol>
				{% endif %}
			{% endfor %}
		</ol>
	</div>

</div>