---
title: "近期更新"
description: "汇集所有精心制作的教学内容, 一览无遗"
permalink: /recent-posts/
---

<ul id="recent-post-ul">
  <h1 style="display: none;">{{page.title}}</h1>
  {% assign sorted-items = site.tutorials | sort: "publish-date" | reverse | slice: 0, 100 %}
  {% for item in sorted-items %}

    {% assign index = forloop.index | modulo:10 %}
    {% if index == 9 %}
    <!-- ads -->
    <li class="section">
      <div style="width: 100%;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-gv-7+4z-7o-4x"
             data-ad-client="ca-pub-4601203457616636"
             data-ad-slot="9829990588"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </li>
    {% endif %}

    <li class="section">
      <div class="recent-update-img-div">
        <a href="{{item.url}}">
          <img class="lazy-img" alt="{{item.title}}" data-src="{{item.thumbnail}}" src="/static/img/description/loading.gif">
        </a>
      </div>
      <div class="recent-post-text-div">
        <a href="{{item.url}}">
          <div class="recent-post-title" style="font-size:1em;"><strong>{{item.title}}</strong></div>
          <div style="font-size:0.8em; opacity:0.8; padding:0 0 1em 0;">{{item.publish-date}}</div>
          <div class="recent-post-description" style="font-size:0.8em; opacity:0.8;">{{item.description | truncate: 100}}</div>
        </a>
      </div>

    </li>

  {% endfor %}
</ul>

