
/* ================ DEFAULT FOR ALL PAGES ================ */

body {
font-family: Tahoma, Helvetica, Arial, Microsoft YaHei, 黑体, 宋体, sans-serif;
font-weight: normal;
font-size: 16px;
margin: 0px;
padding: 0px;
background-color:#F4F4F2;
}


/* ====== Headings ====== */
h1, h2, h3, h4, h5 {
color: #00b359;
}
h1 {
font-size: 2.5em;
text-align: center;
padding: 0.1em 0.2em;
display: block;
}

h2 {
font-size: 2em;
text-align: center;
}

h3 {
font-size: 1.6em;
text-align: center;
}

h4 {
font-size: 1.2em;
text-align: left;
}

h5 {
font-size: 1em;
text-align: left;
}

/* ====== Paragraph ====== */
p {
line-height: 1.7em;
padding: 0;
text-align: justify;
color: #415849;
}

/* ====== anchor ====== */
a:visited, a:link {
color: #F56100;
text-decoration: none;
}

a:hover {
color: #FC8333;
text-decoration: none;
}

/* ====== list ====== */
ul {
font-family: Tahoma, Helvetica,Arial,'宋体',sans-serif;
font-weight: normal;
color: #415849;
}

li {
font-family: Tahoma, Helvetica,Arial,'宋体',sans-serif;
font-weight: normal;
color: #415849;
}

/* ====== image ====== */
.icon-image {
height: 1.5em;
/*width: 1.5em;*/
padding-right: 0.4em;
}


/* ====== others ====== */
.white {
color:white
}

.bold {
font-weight: 900;
}
.align-left {
text-align: left;
}

.non-underscore {
text-decoration: none;
}

.hover-move:hover {
position: relative;
top:-2px;
left: 0;
}

.large-top-bottom-padding {
padding: 1em 0;
}


/* ================== DEFAULT FOR PAGES =================== */

/* ====== blank fill ====== */
#blank-fill {
width:100;
height:60px;
}

/* ====== navigation bar ====== */
#home-nav > ul {
position: fixed;
z-index: 9999;
top: 0;
left: 0;
list-style-type: none;
background-color: #14b814;
display: block;
font-size: 130%;
width: 100%;
margin: 0;
padding: 0;
opacity: 0.95;
}

#home-nav > ul > li > a, #home-nav a:link, #home-nav a:visited{
float: left;
color: #fff;
text-decoration: none;
text-align: center;
margin: 0;
padding: 0.5em 0.7em;
}

#home-nav > ul > li > a.nav-home {
background-color: #009900;
}

#home-nav > ul > li > a:hover {
background-color: #00cc00;
position: relative;
top: -1px;
left: 0px;
}

#home-nav .dropdown-content {
position: fixed;
top: 48px;
left: 157px;
display: none;
text-decoration: none;
list-style-type: none;
padding: 0;
margin: 0;
box-shadow: 10px 4px 10px 0px rgba(0,0,0,0.4);
}

#home-nav .dropdown-content a {
background-color: #009900;
font-size: 0.8em;
min-width: 160px;
padding: 0.2em 0em 0.2em 0.5em;
margin: 0;
text-align: left;
width: 100%;
}


#home-nav .dropdown-content a:hover {
background-color: #00cc00;
}

#home-nav .dropbtn:hover .dropdown-content {
display: block;
}


/* ====== main body ====== */
main {
margin: 0px auto;
background-color:#FAFAFA;
box-shadow: 0px 0px 30px 5px  #888888;
}
.pad-main {
padding: 3em 4em;
}
/* ====== side right ====== */
.side-right {
clear: right;
float: right;
margin: 125px 10px;
font-size: 70%;
background-color: #009900;
opacity: 0.5;
width: 240px;
border-radius: 10px;
}

.side-right h3, .side-right p {
color: white;
margin-left: 1.5em;
margin-top: 1.5em;
text-align: left;
}

/* ======== bottom donation ======== */
#bottom-donation-section {
padding: 3em;
}

#bottom-donation-title {
display: block;
text-align: center;
margin: 0;
padding: 1em 0;
}

#bottom-donation-button {
width: 50%;
margin: 0 auto 0 auto;
display: block;
color: white;
text-align: center;
padding: 10px;
background-color: #14b814;
text-decoration: none;
border-radius: 20px;
box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7);
}

#bottom-donation-button:hover {
background-color: #00cc00;
}

/* ======== footer ======== */

footer {
clear: both;
font-size: 0.8em;
background-color: #14b814;
padding: 0px;
margin: 0px;
border: solid #14b814;
}

footer p{
color: white;
display: block;
clear: left;
margin: 10px 15px;
padding-top: 7px;
}

footer ul{
margin:0;
list-style-type: none;
}

footer li {
float: left;
padding-right: 10px;
padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
}

/* ===================== HOME PAGE ====================== */
#home-image {
display: block;
float: right;
margin:0;
padding: 20px;
width: 350px;
}


/* ===================== ABOUT PAGE ==================== */
#contact-table {
background-color: #ccffcc /*#2dd290*/;
padding: 1.5em;
border-radius: 10px;
}

.row {
display: table-row;
}

.row p {
color: #00b359;
display: table-cell;
text-align: right;
padding: 0.4em 2em;
}

.row a {
display: table-cell;
padding-left: 1em;
}

/* ===================== DONATION PAGE ==================== */
#support-box {
padding: 4px;
background-color: #ccffcc;
width:100%;
color: #00b359;
text-align: center;
border-radius: 10px;
}

#support-box-wrapper {
display: flex;
}

#support-box-wrapper div {
flex-basis: 100%;
text-align: center;
}



