:root {
  --c-n-mofan: #44a371;/*#3d9667;*/
  --c-n: #4cb07b;
  --c-donation: var(--c-n);
  --c-donation-hover: var(--c-n-mofan);
  --c-about-table: #d8d8d8;
  --c-green-no-hover: #191818;
  --c-green-hover: #f2f2f2;
  --c-p: #415849;
}


/* ================ DEFAULT FOR ALL PAGES ================ */

body {
font-family: Hiragino Sans GB, Tahoma, Helvetica, Arial, Microsoft YaHei, WenQuanYi Micro Hei, 黑体, 宋体, sans-serif;
font-weight: normal;
font-size: 16px;
margin: 0px;
padding: 0px;
background-color:#F4F4F2;
filter: none !important;
}

.section {
box-shadow: 0px 0px 5px #888888;
background-color:#FAFAFA;
filter: none !important;
margin: 0.5em 0;
}




/* ====== Headings ====== */
h1, h2, h3, h4, h5 {
color: var(--c-n);
color: #4cb07b;
}

h1 {
font-size: 2.5em;
text-align: center;
padding: 0.1em 0.2em;
display: block;
}

h1.small-h1 {
font-size: 1.8em;
margin: 1em 0;
}

h2 {
font-size: 2em;
text-align: center;
}

h3 {
font-size: 1.6em;
text-align: center;
padding-top: 2em;
padding-bottom: 1em;
}

h4 {
font-size: 1.5em;
text-align: left;
margin: 0.8em 0;
}

h5 {
font-size: 1em;
text-align: left;
}


/* ====== Paragraph ====== */
p {
line-height: 1.7em;
padding: 0;
text-align: justify;
color: var(--c-p);
color:#415849;
}

/* ====== anchor ====== */
a:visited, a:link {
color: #F56100;
text-decoration: none;
}

a:hover {
color: #FC8333;
text-decoration: none;
cursor: pointer;
}

/* ====== list ====== */
ul {
font-weight: normal;
color: #415849;
}

li {
font-weight: normal;
color: #415849;
}

/* ====== image ====== */
.icon-image {
max-height: 1.1em;
width: 1.1em;
padding-right: 0.4em;
}

.cycle-img {
border-radius:50%;
}

/* ====== others ====== */
.white {
color:white
}

.bold {
font-weight: 900;
}
.align-left {
text-align: left;
}

.non-underscore {
text-decoration: none;
}

.hover-move:hover {
position: relative;
top:-3px;
left: 0;
}

.large-top-bottom-padding {
padding: 1.3em 0;
}


/* ================== DEFAULT FOR PAGES =================== */

#home-nav {
height: 3.3em;
vertical-align:middle;
}
/* ====== navigation bar ====== */
#home-nav > ul {
position: fixed;
z-index: 5;
top: 0;
left: 0;
list-style-type: none;
font-size: 1.3em;
width: 100%;
margin: 0;
padding: 0;
opacity: 0.98;
}

#home-nav ul {
background-color: var(--c-n);
background-color: #4cb07b;
display: inline-block;
filter: none !important;
}

#home-nav > ul > li > a {
float: left;
}

#home-nav > ul > li:last-child {       /* tutorial dropdown */
float: right;
}

#home-nav .search-img {
max-height:1.1em;
vertical-align: middle;
}

.search-box {
display: none;
position: fixed;
top: 2.5em;
left: 12em;
}

#home-nav .search-text {
font-size:1em;
border-radius:5px;
border: 5px solid var(--c-n);
border: 5px solid #4cb07b;
}

#home-nav a {
color: var(--c-green-no-hover);
color: #191818;
vertical-align: middle;
}

#home-nav > ul > li > a, #home-nav > ul > li > a:link, #home-nav > ul > li > a:visited{
text-decoration: none;
text-align: center;
margin: 0;
padding: 0.5em 0.7em;
}

#home-nav > ul > li:first-child > a {
background-color: var(--c-n-mofan);
background-color: #44a371;
filter: none !important;
}

#home-nav > ul > li > ul {     /* tutorial dropdown */
max-height: 90%;
overflow-y: scroll;
overflow-x: hidden;
position: fixed;
display: none;
top: 2.4em;
right: 0em;
text-decoration: none;
list-style-type: none;
margin: 0;
padding: 0;
box-shadow: -4px 4px 5px rgba(0,0,0,0.4);
width: 40%;
}

#home-nav > ul > li > ul > li {
padding: 0.2em 0;
margin: 0;
width: 100%;
text-align: center;
}

#home-nav > ul > li > ul > li > a {
float: none;
font-size: 0.9em;
padding: 0;
margin: 0;
width: 100%;
}

#home-nav > ul > li > ul > li > ul {    /* sub dropdown mean */
display: none;
background-color: transparent;
text-decoration: none;
list-style-type: none;
padding: 0;
margin: 0;
}

#home-nav > ul > li > ul > li > ul > li {
background-color: transparent;
margin: 0;
padding: 0.2em 0em 0.2em 1em;
text-align: left;
width: 100%;
}

#home-nav > ul > li > ul > li:hover {
background-color: var(--c-n-mofan);
background-color: #44a371;
filter: none !important;
}

#home-nav > ul > li > ul > li > ul > li > a {
font-size: 0.8em;
margin: 0;
width: 100%;
}

#home-nav > ul > li > ul > li > ul > li > ul {    /* sub sub dropdown mean */
display: none;
background-color: transparent;
font-size: 0.7em;
text-decoration: none;
list-style-type: none;
padding: 0;
margin: 0;
}

#home-nav > ul > li > ul > li > ul > li > ul > li {
text-align: left;
padding: 0.2em 0 0.2em 1em;
}

#home-nav a:hover {
background-color: var(--c-n-mofan);
background-color: #44a371;
color: var(--c-green-hover);
color:#f2f2f2;
filter: none !important;
}


/* ====== main body ====== */
main {
margin: 0 auto;
}

.pad-main {
padding: 3em 4em;
}


/* ====== video ===== */
.video-container {
z-index: 4;
position: relative;
padding-bottom: 56.25%;
padding-top:0;
margin: 0;

}

.video-container iframe, .video-container object, .video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



/* ======== bottom donation ======== */
#bottom-donation-section {
padding: 3em;
clear: both;
}

#bottom-donation-title {
display: block;
text-align: center;
margin: 0;
padding: 1em 0;
}

#bottom-donation-button {
width: 50%;
display: block;
color: var(--c-green-no-hover);
color:#191818;
text-align: center;
padding: 10px;
background-color: var(--c-donation);
background-color: #4cb07b;
filter: none !important;
margin: 1em auto 2em auto;
text-decoration: none;
border-radius: 20px;
box-shadow: 0px 0px 5px rgba(0,0,0, 0.7);
}

#bottom-donation-button:hover {
background-color: var(--c-donation-hover);
background-color: #44a371;
filter: none !important;
color: #303030;
}

/* ======== footer ======== */

footer {
clear: both;
color: var(--c-green-no-hover);
color: #191818;
font-size: 0.8em;
background-color: var(--c-n);
background-color: #4cb07b;
filter: none !important;
padding: 0px;
margin: 0px;
z-index: 5;
position: absolute;
width: 100%;
}

footer p{
color: var(--c-green-no-hover);
color: #191818;
display: block;
clear: left;
margin: 10px 15px;
padding-top: 7px;
}

footer ul{
margin:0;
list-style-type: none;
}

footer a, footer a:visited, footer a:link{
color: var(--c-green-no-hover);
color:#191818;
}

footer .icon {
height: 25px;
}

footer li {
float: left;
padding-right: 10px;
padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
}

/* ===================== HOME PAGE ====================== */
#home-image {
display: block;
float: right;
margin:0;
padding: 20px;
width: 350px;
}

/* ===================== RECENT POSTS PAGE ==================== */

#recent-post-ul {
list-style-type: none;
padding: 0;
margin:0;
display: block;
width: 100%
}

#recent-post-ul li {
padding: 0;
display: flex;
}

.recent-update-img-div {
height: 130px;
}

#recent-post-ul img {
height:100%;
}
.recent-post-text-div {
padding: 0.1em 0.8em;
}

#recent-post-ul img:hover {
background-color:#000;
opacity:0.8;
}

#recent-post-ul a {
color: #415849;
}


/* ===================== ABOUT PAGE ==================== */
#contact-table {
background-color: var(--c-about-table);
background-color: #d8d8d8;
filter: none !important;
padding: 1.5em;
border-radius: 10px;
}

.row {
display: table-row;
}

.row p {
color: #00b359;
display: table-cell;
text-align: right;
padding: 0.4em 1em;
}

.row a {
display: table-cell;
padding-left: 0.3em;
}

.my-background-table {
font-size:0.9em;
border-collapse: collapse;
}

.my-background-table tr {
  border: solid #cecece;
  border-width: 1px 0;
}

/* ===================== DONATION PAGE ==================== */
#support-box {
padding: 4px;
background-color: var(--c-about-table);
background-color: #d8d8d8;
filter: none !important;
width:100%;
color: #00b359;
text-align: center;
border-radius: 10px;
}

#support-box-wrapper {
display: flex;
}

#support-box-wrapper div {
flex-basis: 100%;
text-align: center;
}

#support-box-wrapper img {
  width:95%;
}

.support-SD-dropdown {
display: none;
position: absolute;
bottom:13em;
max-width: 300px;
}

.support-dropdown:hover .support-SD-dropdown {
display: block;
}


