
/* ===================== PHONE ==================== */
@media screen and  (max-width: 40.5em) {
  /* =============== recent post ========== */
  #recent-post-ul img {
  height:90px;
  }
  .recent-post-description {
  display: none;
  }
  .recent-post-title {
  font-size: 0.9em;
  }
  /* ======== DEFAULT FOR ALL PAGES ========= */

  body {
    font-size:14px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  .large-top-bottom-padding {
    padding: 0.5em 0;
  }


  /* ======== nav ========= */

  #home-nav {
    height: 3.8em;
  }

  #home-nav > ul > li > a, #home-nav > ul > li > a:link, #home-nav > ul > li > a:visited {
    padding: 1.1em 0.3em;
    font-size: 0.8em;
  }
  #home-nav > ul > li > ul {
    width: 80%;
  }
  #home-nav > ul > li:last-child {       /* tutorial dropdown */
    float: none;
  }
  #home-nav > ul > li > ul, .search-box {
    top:2.9em;
    }
  .search-box {
    display: none;
    position: fixed;
    left:0;
    }
  #home-nav .search-text {
    font-size:1.4em;
    }

  /* =========== main body ===== */
  .pad-main {
    padding: 1em 0.5em;
  }
  main {
  width: 100%;
  }

  /* ====== recent update ====== */
  #recent-update {
    height: 180px;
    overflow-y: scroll;
  }

  /* ======= tutorial right part ====== */
  .tut-right-side-menu {
  display: none;
  width: 0;
  }
  .course-image {
  max-width: 100%;
  }
  .tut-main-content-pad {
  padding: 0 0.5em;
  }


  /* ======= video and next previous button ====== */
 .tut-content-video {
  width: 100%;
 }
}






/* ===================== less than 800px ==================== */
/* ======= tutorial content menu ========= */
@media screen and (max-width: 800px) {
  .tut-content-menu {
  right: 1em;
  }
  main {
  width: 100%;
  }
}




/* ===================== more than 800px ==================== */
/* ====== video ===== */
@media screen and (min-width: 800px) {
  main {
  width: 800px;
  }
  main .video-container, main .video-container iframe, main .video-container object, main .video-container embed {
  max-width: 800px;
  max-height: calc(800px / 16 * 9);
  margin: 0 auto;
  }
}


/* ======= tutorial right part ====== */
@media screen and (max-width: 1020px) {
  .tut-left-side-menu, .tut-right-side-menu {
  display: none;
  }
}

@media screen and (min-width: 1300px) {
  .tut-left-side-menu, .tut-right-side-menu {
  width: calc((1300px - 800px) / 2 - 0.5%);
  }
  .tut-left-side-menu {
  left: calc((100% - 1300px) / 2);
  }
  .tut-right-side-menu {
  right: calc((100% - 1300px) / 2);
  }
}


/* ======= IE ====== */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .ie-size {
     width: 800px;
     margin: 0 auto;
     }
}