
/* ===================== PHONE ==================== */
@media screen and  (max-width: 40.5em) {
  /* =============== recent post ========== */
  .recent-update-img-div {
  height: 90px;
  }

  #recent-post-ul img {
  height:100%;
  }
  .recent-post-description {
  display: none;
  }
  .recent-post-title {
  font-size: 0.9em;
  }
  /* ======== DEFAULT FOR ALL PAGES ========= */

  body {
    font-size:14px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  .large-top-bottom-padding {
    padding: 0.5em 0;
  }


  /* ======== nav ========= */

  #home-nav {
    height: 3.8em;
  }

  #home-nav > ul > li > a, #home-nav > ul > li > a:link, #home-nav > ul > li > a:visited {
    padding: 1.1em 0.3em;
    font-size: 0.8em;
  }
  #home-nav > ul > li > ul {
    width: 80%;
  }
  #home-nav > ul > li:last-child {       /* tutorial dropdown */
    float: none;
  }
  #home-nav > ul > li > ul, .search-box {
    top:2.9em;
    }
  .search-box {
    display: none;
    position: fixed;
    left:0;
    }
  #home-nav .search-text {
    font-size:1.4em;
    }

  #home-nav .search-img {
    padding: 0 0.3em;
  }

  /* =========== main body ===== */
  .pad-main {
    padding: 1em 0.5em;
  }
  main {
  width: 100%;
  }

  /* ====== recent update ====== */
  #recent-update {
    height: 180px;
    overflow-y: scroll;
  }

  /* ======= tutorial right part ====== */
  .tut-right-bar {
  display: none;
  width: 0;
  }
  .course-image {
  max-width: 100%;
  }
  .tut-main-content-pad {
  padding: 0 0.5em;
  }


  /* ======= video and next previous button ====== */
 .tut-content-video {
  width: 100%;
 }
}






/* ===================== less than 800px ==================== */
/* ======= tutorial content menu ========= */
@media screen and (max-width: 800px) {
  .tut-content-menu {
  right: 1em;
  }
  main, main .tut-post-main {
  width: 100%;
  }
  .tut-right-bar {
  display: none;
  }
  main .video-container, main .video-container iframe, main .video-container object, main .video-container embed {
  max-width: 100%;
  margin: 0 auto;
  }
}




/* ===================== more than 800px ==================== */
/* ====== video ===== */
@media screen and (min-width: 800px) {
  main .video-container, main .video-container iframe, main .video-container object, main .video-container embed {
  max-width: 800px;
  margin: 0 auto;
  }
  main {
    width: 800px;
  }
  main.tut-main {
    width: 1000px;
  }
  .tut-content-menu {
  display: none;
  }
}



/* ======= IE ====== */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .ie-size {
     width: 700px;
     margin: 0.5em auto;
     }
     .tut-right-bar {
     width: calc(1000px - 700px);
     }
     .tut-post-main {
     margin-left:10%;
     }
     @media screen and  (max-width: 40.5em) {
     .ie-size {
     width: 100%;
     }
     }
}