

/* ======= when window width is less than 500px ======= */
@media screen and (max-width: 500px){
    #home-nav > ul > li > a,  #home-nav a:link, #home-nav a:visited {
    float: none;
    display: block;
    }
    #home-nav > ul{
    position: static;
    }
    #home-nav .dropbtn:hover .dropdown-content {
		display: none;
		}
		#blank-fill {
		display: none;
		}
}


/* ======= when window width is greater than 1000 px ======= */
:root {
  --max-window-width: 800px;
}

@media screen and (min-width: 800px) {
    main {
    width: var(--max-window-width);
    margin: 0 auto;
    }
    .video-container, .video-container iframe, .video-container object, .video-container embed {
    max-width: var(--max-window-width);
    max-height: calc(var(--max-window-width)/16*9);
    }
    #tut-nav {
    width: calc(var(--max-window-width)*0.5);
    }

}
