:root {
  --c-tut-table: var(--c-n);
  --c-tut-table-hover: var(--c-n-mofan);
}

/* ===================== TUTORIAL PAGE ====================== */


/* ====== recent update ===== */
#recent-update {
list-style-type: none;
margin: 0 auto;
padding: 0;
display: inline-block;
text-align: center;
width: 100%;
}

#recent-update li {
padding: 0 5px 0 0;
display: inline-block;
}

#recent-update img:hover {
background-color:#000;
opacity:0.8;
}

@media screen and (max-width: 40.5em) {
  #recent-update {
    height: 180px;
    overflow-y: scroll;
  }
}

.tut-course-thumbnail {
list-style-type: none;
margin: 0 auto;
padding: 0;
display: inline-block;
text-align: center;
width: 100%;
}

.tut-course-thumbnail li {
padding: 0 2px 0 0;
display: inline-block;
}

.tut-course-thumbnail img:hover {
background-color:#000;
opacity:0.8;
}


/* ======= tutorial content menu ========= */
.tut-content-menu {
z-index: 3;
position:fixed;
bottom: 2%;
right: calc((100% - var(--max-window-width)) / 2 + 1.0em);
}

.tut-content-menu img {
max-width: 4em;
border-radius:50%;
box-shadow: 0px 0px 5px #888888;
}

@media screen and (max-width: 800px) {
  .tut-content-menu {
  right: 1em;
  }
}

/* ====== switch video button ===== */
.switch-video-div {
display:block;
margin: 0 auto;
padding: 1em 0;
text-align: center;
}

button#switch-video {
display: inline;
background-color: var(--c-n);
filter: none !important;
border: none;
font-size: 1em;
padding: 0.2em 2em;
color: var(--c-green-no-hover);
box-shadow: 0px 0px 5px #888888;
border-radius:5px;
}

button#switch-video:hover {
background-color: var(--c-n-mofan);
filter: none !important;
color: var(--c-green-hover);
}
.collapse{
display:none
}
.collapse.in{
display:block
}

/* ======== table of contents ======== */
.table-of-contents-ul {
background-color: var(--c-tut-table);
padding: 1em;
color: var(--c-green-no-hover);
counter-reset: item;
list-style-type: none;
box-shadow: 0px 0px 5px #888888;
}

.table-of-contents-ul h4 {
color: var(--c-green-no-hover);
text-align: left;
}

.chapter-li {
margin: 0 1.2em;
}

.chapter-li ul {
list-style-type: none;
}

.content-li {
padding: 0.3em 0.3em;
display: block;
}

.content-li a {
color: var(--c-green-no-hover);
text-decoration: none;
}

.content-li:hover {
background-color: var(--c-tut-table-hover);
}

/* ======== inner page ======== */
.course-summary-image {
padding: 0;
display:block;
margin: 0 auto;
width: 100%;
box-shadow: 0px 0px 5px #888888;
}

.course-image {
padding: 0;
display:block;
margin: 0 auto;
max-width: 80%;
max-height: 430px;
box-shadow: 0px 0px 5px #888888;
}

h4.tut-h4-pad {
padding-top: 5em;
padding-bottom: 1.5em;
}

#tut-content p {
padding: 0;
}

/* ======= tutorial main part ====== */
.tut-main-content-pad {
padding: 0 2em;
}

.tut-right-side-menu, .tut-left-side-menu {
position: fixed;
top: 4.5em;
font-size: 0.85em;
margin: 0;
filter: none !important;
}


/* ======= tutorial left part ====== */
.tut-left-side-menu {
left: 0%;
width: calc((100% - var(--max-window-width)) / 2 - 0.5%);
background-color: var(--c-tut-table);
height: calc(100% - 5em);
overflow-y: scroll;
}

.tut-left-side-menu p {
color: black;
text-align: center;
font-size: 1.2em;
}

.tut-left-ul {
padding: 0 0.5em 0 2em;
text-decoration: none;
}

.tut-left-ul a:visited, .tut-left-ul a:link {
color: black;
opacity:0.9;
}

.tut-left-li {
padding: 0.3em 0;
}

.tut-left-li:hover {
background-color: var(--c-tut-table-hover);
}

/* ======= tutorial right part ====== */
.tut-right-side-menu {
right: 0.5%;
width: calc((100% - var(--max-window-width)) / 2 - 1%);
height:100%;
}

.tut-right-side-menu > div {
padding: 1em;
}

.side-nav {
text-align: right;
margin-top:0;
}

.side-nav ul {
text-decoration: none;
list-style-type: none;
padding:0;
}

.side-nav a:hover {
text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  .tut-left-side-menu, .tut-right-side-menu {
  display: none;
  }
}

@media screen and (min-width: 1300px) {
  .tut-left-side-menu, .tut-right-side-menu {
  width: calc((1300px - var(--max-window-width)) / 2 - 0.5%);
  }
  .tut-left-side-menu {
  left: calc((100% - 1300px) / 2);
  }
  .tut-right-side-menu {
  right: calc((100% - 1300px) / 2);
  }
}

@media screen and (max-width: 40.5em) {
  .tut-right-side-menu {
  display: none;
  width: 0;
  }
  .course-image {
  max-width: 100%;
  }
  .tut-main-content-pad {
  padding: 0 0.5em;
  }
}



/* ======= video and next previous button ====== */
.tut-content-video {
width: 60%;
display: block;
margin: 0 auto;
}

@media screen and (max-width: 40.5em) {
 .tut-content-video {
  width: 100%;
 }
}
.link-under-youtube {
text-align: center;
margin: 0;
}

.pad-page-navigation {
padding: 2em 1em;
}

.PageNavigation {
display: block;
width: auto;
overflow: hidden;
}

.PageNavigation a {
display: block;
color: var(--c-green-no-hover);
background-color: var(--c-n);
text-decoration: none;
padding: 0.9em;
margin: 0.5em 0;
border-radius: 10px;
}

.PageNavigation i {
font-size: 1em;
}

.PageNavigation a:hover {
color: var(--c-green-hover);
background-color: var(--c-n-mofan);
}

.PageNavigation .prev {
float: left;
}

.PageNavigation .next {
float: right;
text-align: right;
}

/* ======== bottom donation ======== */
#bottom-donation-section {
padding: 1em;
clear: both;
}

#bottom-donation-title {
display: block;
text-align: center;
margin: 0;
padding: 1em 0;
}

#bottom-donation-button {
width: 50%;
display: block;
color: var(--c-green-no-hover);
text-align: center;
padding: 10px;
background-color: var(--c-donation);
margin: 1em auto 2em auto;
text-decoration: none;
border-radius: 20px;
box-shadow: 0px 0px 10px rgba(0,0,0, 0.7);
}

#bottom-donation-button:hover {
background-color: var(--c-donation-hover);
color: var(--c-green-hover);
}