<!DOCTYPE html>
<html lang="cn">
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4601203457616636",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="莫烦,python,tutorial,machine learning,{{ page.keywords }}">
  <meta name="author" content="Mofan, Morvan,莫烦,周沫凡,周莫烦,{{ page.author }}">
  <title>{{page.title}} - 莫烦Python</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{{site.baseurl}}/stylesheets/page-style.css" type="text/css" rel="stylesheet">
  <link href="{{site.baseurl}}/stylesheets/tutorial-page.css" type="text/css" rel="stylesheet">
  <link href="{{site.baseurl}}/stylesheets/syntax.css" type="text/css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/static/img/description/tab_icon.png">

  <!-- click dropdown -->
  <script>
  $(document).ready(function(){
    $('.clicker').on("click", function(e){
      $(this).next('.dropdown-content').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
  </script>
</head>

<body>

  {{content}}

  <div id="bottom-donation-section">
    {% if page.url != '/support/' %} {% include donate.html %} {% endif %}
  </div>

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>