<!DOCTYPE html>
<html lang="cn">
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4601203457616636",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="莫烦,python,tutorial,machine learning,{{ page.keywords }}">
  <meta name="author" content="Mofan, Morvan,莫烦,周沫凡,周莫烦,{{ page.author }}">
  <meta name="thumbnail" content="{{ site.baseurl }}{{ page.thumbnail }}" />
  <title>{% if page.title %}{{page.title}}{% endif %}{% if page.tut-title %} - {{page.tut-title}}{% endif %} - 莫烦Python</title>
  <script src="https://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{{site.baseurl}}/stylesheets/page-style.css" type="text/css" rel="stylesheet">
  <link href="{{site.baseurl}}/stylesheets/tutorial-page.css" type="text/css" rel="stylesheet">
  <link href="{{site.baseurl}}/stylesheets/syntax.css" type="text/css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/static/img/description/tab_icon.png">

  <!-- click dropdown -->
  <script>
  $(document).ready(function(){
    $('.clicker').on("click", function(e){
      $(this).next('.dropdown-content').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
  </script>

  <!-- structured data -->
  <script type="application/ld+json">
  {
    "@context": "{{ page.url }}",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "image": [
      "{{ page.thumbnail }}",
     ],
    "author": {
      "@type": "Person",
      "name": "莫烦"
    },
    "description": "{{ page.description }}"
  }
  </script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <!--<script>-->
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

    <!--ga('create', 'UA-106404389-1', 'auto');-->
    <!--ga('send', 'pageview');-->

  <!--</script>-->

</head>

<body>

  {{content}}

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>