<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="cmn-Hans en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="莫烦,python,tutorial,machine learning,{{ page.keywords }}">
  <meta name="author" content="Mofan, Morvan,莫烦,周沫凡,周莫烦,{{ page.author }}">
  <meta name="thumbnail" content="{{ site.baseurl }}{{ page.thumbnail }}" />
  <title>{% if page.title != "" %}{{page.title}}{% endif %}{% if page.series %} - {{page.series}}{% endif %}{% if page.series or page.title != "" %} | {% endif %}莫烦Python</title>

  <link href="/stylesheets/page-style.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/tutorial-page.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/syntax.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/resize.css" type="text/css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/static/img/description/tab_icon.png">

  <script src="https://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/video-select.js"></script>

  <!-- 360 analysis -->
  <!--<script type="text/javascript" src="//s.union.360.cn/195005.js" async defer></script>-->

  {% if layout.structured-type == "BlogPosting" %}
  <!-- google post page data -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "@id": "{{ site.url }}{{ page.url }}",
    "headline": "{{ page.title }}",
    "image": "{{ site.url }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}/static/img/description/mofanpython.png{% endif %}",
    "author": {
      "@type": "Person",
      "name": "莫烦",
      "email": "morvanzhou@hotmail.com"
    },
    "description": "{{ page.description }}",
    "url": "{{ site.url }}{{ page.url }}",
    "mainEntityOfPage":"{{ site.url }}{{ page.tut-permalink }}",
    "datePublished": "{% if page.publish-date %}{{ page.publish-date }}{% else %} 2016-11-11 {% endif %}",
    "dateModified": "{% if page.publish-date %}{{ page.publish-date }}{% else %} 2016-11-11 {% endif %}",
    "publisher": {
    "@type": "Organization",
      "name":"莫烦Python",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/static/img/description/tab_icon.png",
        "width": 100
        }
     }
  }
  </script>
  {% elsif layout.structured-type == "Course" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Course",
      "name": "{{ page.title }}",
      "description": "{{ page.description }}",
      "provider": {
        "@type": "Organization",
        "name": "莫烦Python"
      }
    }
  </script>
  {% endif %}

  <!-- click dropdown -->
  <script>
  $(document).ready(function(){
    $('.clicker').on("click", function(e){
      $(this).next('.dropdown-content').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
  </script>

</head>

<body>

  {{content}}

  <footer>
    {% include footer.html %}
  </footer>

  <!-- lazy load image (must at the end) -->
  <script>
  var allimages = document.getElementsByClassName("lazy-img");

  for (var i=0; i<allimages.length; i++) {
    if (allimages[i].getAttribute('data-src')) {

      allimages[i].src = allimages[i].getAttribute('data-src');

    }
  }
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108653085-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108653085-1');
  </script>

  <!-- qq analysis -->
  <script type="text/javascript" src="//tajs.qq.com/stats?sId=63906388" charset="UTF-8"></script>


</body>
</html>

