<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Morvan's Python tutorials">
  <meta name="keywords" content="莫烦,python,tutorial,machine learning,
  机器学习,神经网络,教学,教程">
  <meta name="author" content="Mofan,Morvan,莫烦">
  <title>莫烦 Python</title>
  <link href="{{site.baseurl}}/stylesheets/page-style.css" type="text/css" rel="stylesheet">
  <link href="{{site.baseurl}}/stylesheets/syntax.css" type="text/css" rel="stylesheet">
  <link href="{{site.baseurl}}/stylesheets/tutorial-page.css" type="text/css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/static/img/description/tab_icon.png">
</head>

<body>
  <header>
    <div id="blank-fill"></div>
    {% include nav.html %}
  </header>

  <main>
    {{content}}
  </main>

  <div id="bottom-donation-section">
    {% if page.url != '/support/' %} {% include donate.html %} {% endif %}
  </div>

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>