---
layout: front-page
structured-type: Course
---

<!-- variables for this page -->
{% assign category-tuts = site.contents | where: "category", page.tut-category-name | sort: "id" %}

<!-- for this page contents -->
<img class="course-summary-image" src="{{ page.tut-course-cover }}" alt="{{ page.tut-course-cover-alt }}">

<h1 style="display:none">{{ page.title }}</h1>

<div class="pad-main">
	<ul class="table-of-contents-ul">
		{% for chapter-name in page.tut-chapters %}
			{% assign chapter-id = forloop.index %}
			<li class="chapter-li"><h4>{{chapter-name}}</h4>
				<ol>
				{% assign tuts = category-tuts | where: "chapter", forloop.index %}
		    {% for tut in tuts %}
					{% assign section-id = forloop.index %}
					{% if tut.title != "page default" %}
			      <li class="content-li">
			          <a href="{{site.baseurl}}{{ tut.url }}">{{chapter-id}}.{{section-id}} {{tut.title}}</a>
			      </li>
					{% endif %}
			  {% endfor %}
				</ol>
			</li>
		{% endfor %}
	</ul>
</div>