---
layout: default
nav-items:
  - top-name: "Python基础 ▾"
    tut-path: "python-basic/"
    icon-path: "python_icon.png"
    drop-contents:
      - name: "基础"
        link: "basic/"
        has-cont: no
      - name: "多进程 multiprocessing"
        link: "multiprocessing/"
        has-cont: no
      - name: "多线程 threading"
        link: "threading/"
        has-cont: no
      - name: "窗口视窗 Tkinter"
        link: "tkinter/"
        has-cont: no
  - top-name: "机器学习 ▾"
    tut-path: "machine-learning/"
    icon-path: "ML_icon.png"
    drop-contents:
      - name: "有趣的机器学习"
        has-cont: no
        link: "ML-intro/"
      - name: "强化学习 Reinforcement Learning"
        has-cont: no
        link: "reinforcement-learning/"
      - name: "进化算法 Evolutionary Algorithm"
        has-cont: no
        link: "evolutionary-algorithm/"
      - name: "神经网络 ▾"
        has-cont: "yes"
        link:
          - ["Tensorflow", "tensorflow/"]
          - ["PyTorch", "torch/"]
          - ["Theano", "theano/"]
          - ["Keras", "keras/"]
          - ["Scikit-learn", "sklearn/"]
  - top-name: "数据处理 ▾"
    tut-path: "data-manipulation/"
    icon-path: "data_icon.png"
    drop-contents:
      - name: "数据 Numpy & Pandas"
        link: "np-pd/"
        has-cont: no
      - name: "画图 Matplotlib"
        link: "plt/"
        has-cont: no
  - top-name: "Git ▾"
    tut-path: "others/"
    icon-path: "others_icon.png"
    drop-contents:
      - name: "Git 版本管理"
        link: "git/"
        has-cont: no
---

<div id="tut-header">
  <!-- page main title -->
  <a class="hover-move bold" href="{{ site.baseurl }}{{ page.tut-permalink }}"><h1>{{ page.tut-title }}</h1></a>

  <!-- navigation -->
  <nav id="tut-nav">
    <ul>
      {% for item in layout.nav-items %}
        <li class="dropbtn">
          <a class="clicker">
            <img class="icon-image" src="/static/img/icon/{{ item.icon-path }}">
            {{ item.top-name }}
          </a>
          <ul class="dropdown-content">
            {% for sub-item in item.drop-contents %}
              {% if sub-item.has-cont == "yes" %}
                <li class="dropbtn"><a class="clicker">{{ sub-item.name }}</a>
                  <ul class="dropdown-content">
                    {% for sub-item-link in sub-item.link %}
                    <li><a href="{{ site.baseurl }}/tutorials/{{ item.tut-path }}{{ sub-item-link[1] }}">{{ sub-item-link[0] }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li><a href="{{ site.baseurl }}/tutorials/{{ item.tut-path }}{{ sub-item.link }}">{{ sub-item.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>



<div id="tut-content">
{{content}}
</div>
