---
layout: default
nav-items:
  - top-name: "Python基础 ▾"
    tut-path: "python-basic/"
    icon-path: "python_icon.png"
    drop-contents:
      - ["基础", "basic/"]
      - ["多进程 multiprocessing", "multiprocessing/"]
      - ["多线程 threading", "threading/"]
      - ["窗口视窗 Tkinter", "tkinter/"]
  - top-name: "机器学习 ▾"
    tut-path: "machine-learning/"
    icon-path: "ML_icon.png"
    drop-contents:
      - ["有趣的机器学习", "ML-intro/"]
      - ["强化学习 Reinforcement Learning", "reinforcement-learning/"]
      - ["进化算法 Evolutionary Algorithm", "evolutionary-algorithm/"]
      - ["神经网络: Tensorflow", "tensorflow/"]
      - ["神经网络: PyTorch", "torch/"]
      - ["神经网络: Theano", "theano/"]
      - ["神经网络: Keras", "keras/"]
      - ["机器学习: Scikit-learn", "sklearn/"]
  - top-name: "数据处理 ▾"
    tut-path: "data-manipulation/"
    icon-path: "data_icon.png"
    drop-contents:
      - ["数据 Numpy & Pandas", "np-pd/"]
      - ["画图 Matplotlib", "plt/"]
  - top-name: "其他 ▾"
    tut-path: "others/"
    icon-path: "others_icon.png"
    drop-contents:
      - ["Git 版本管理", "git/"]
---

<div id="tut-header">
  <a class="hover-move bold" href="{{ site.baseurl }}{{ page.tut-permalink }}"><h1>{{ page.tut-title }}</h1></a>
  <nav id="tut-nav">
    <ul>
      {% for item in layout.nav-items %}
        <li class="dropbtn">
          <a href="{{ site.baseurl }}/tutorials/{{ item.tut-path }}">
            <img class="icon-image" src="/static/img/icon/{{ item.icon-path }}">
            {{ item.top-name }}
          </a>
          <ul class="dropdown-content">
            {% for sub-item in item.drop-contents %}
              <li><a href="{{ site.baseurl }}/tutorials/{{ item.tut-path }}{{ sub-item[1] }}">{{ sub-item[0] }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>

</div>



<div id="tut-content">
{{content}}
</div>
