---
layout: tutorials
---
<!-- Tutorial menu button-->
<!--{% include tutorial-side-menu.html %}-->

<!-- video section -->
{% include embedded-video.html %}



<div class="pad-main">
  <!-- upper page navigation -->
  {% include prev-next-post.html %}

  <hr>

  <h1>{{page.title}}</h1>
  <p style="text-align: center;">
    作者: <strong>{{page.author}}</strong> &nbsp;&nbsp;
    编辑: <strong>{{page.editor}}</strong> &nbsp;&nbsp;
  </p>

  {{content}}

  <p style="font-size: 0.8em; padding:3em auto;">
    如果你觉得这篇文章或视频对你的学习很有帮助, 请你也分享它, 让它能再次帮助到更多的需要学习的人.
    莫烦没有正式的经济来源, 如果你也想支持 <strong>莫烦Python</strong> 并看到更好的教学内容, 请拉倒屏幕最下方,
    赞助他一点点, 作为鼓励他继续开源的动力.
  </p>

  <!-- lower page navigation -->
  {% include prev-next-post.html %}

  <!-- comment section -->
  {% include comment-section.html %}
</div>
