---
layout: with-nav
structured-type: BlogPosting
---

<main class="tut-main">

  <div class="tut-post-main">
    <!-- top ads -->
    <div class="section ie-size">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- top-video -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4601203457616636"
           data-ad-slot="6002797349"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <!-- video section -->
    <div class="section ie-size">
      <!-- video section -->
      {% include embedded-video.html %}

      <!-- upper page navigation -->
      <div class="pad-page-navigation">
        {% include prev-next-post.html %}
      </div>
    </div>

    <!-- post main content -->
    <div class="section ie-size">

      <!-- main content -->
      <div class="tut-main-content-pad">
        <br>
        <h1>{{page.title}}</h1>
        <p style="text-align: center;">
          {% if page.author-link != "#" %}
            作者: <a href="{{page.author-link}}" target="_blank"><strong>{{page.author}}</strong></a> &nbsp;&nbsp;
          {% else %}
            作者: <strong>{{page.author}}</strong> &nbsp;&nbsp;
          {% endif %}
          编辑: <strong>{{page.editor}}</strong> &nbsp;&nbsp;
          {% if page.publish-date %}
            {{page.publish-date}}
          {% else %}
            2016-11-03
          {% endif %}
        </p>

        {{content}}


        <!-- donation -->
        <div id="bottom-donation-section">
          {% include share-donate.html %}
        </div>

        <hr>
      </div>

      <!-- lower page navigation -->
      <div class="pad-page-navigation">
        {% include prev-next-post.html %}
      </div>
    </div>

    <!-- comment ads section -->
    <div class="section ie-size">
      <!-- comment ads -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="fluid"
           data-ad-client="ca-pub-4601203457616636"
           data-ad-slot="3952173485"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <!-- comment section -->
    <div class="section ie-size">
    {% include comment-section.html %}
    </div>

    <!-- menu button -->
    <div class="tut-content-menu">
      <a class="hover-move" href="{{ site.baseurl }}{{ page.tut-permalink }}">
      <img src="/static/img/icon/tutorial_contents_icon.png" alt="{{ page.title }}"></a>
    </div>


  </div>




  <!-- right side section -->
  <div class="tut-right-bar">


    <!-- table-content-nav side section -->
    <div class="tut-table-content-nav section">
      <a href="{{ page.tut-permalink }}"><p><strong>{{ page.series }}</strong></p></a>
      {% assign items = site.tutorials | where: "category", page.category  %}
      {% assign tut-chapters = site.data.table-chapters[page.category] %}

      {% for chapter-name in tut-chapters.chapter-names %}
		  {% assign i = forloop.index %}
      <ul class="tut-table-content-nav-contents">
        {% assign chapter-items = items | where: "chapter", i %}
        <p style="text-align: right; padding:0; margin:0; color: white; font-size:1.1em; background-color: #44a371;">{{ chapter-name }}</p>
        {% for item in chapter-items %}

          <li class="tut-table-content-nav-li">
            {% if item.title == page.title %}
            <a href="{{item.url}}" style="color:#ffffff;">{{ item.title }}</a>
               {% if page.post-headings %}
                <ul style="padding-left: 1em;">
                  {% for heading in page.post-headings %}
                  {% assign hid = heading | replace: " ", "" %}
                    <li><a href="{{ page.url }}#{{ hid }}" style="color:#ffffff;">{{ heading }}</a> </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% else %}
            <a href="{{item.url}}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <!-- side ads -->
    {% include google-side-ads.html slot="8101278819" %}


  </div>
</main>



