---
layout: tutorials
---

<!-- video section -->
{% include embedded-video.html %}

<hr>

<h2>{{page.title}}</h2>
<p style="text-align: center;">
  作者: <strong>{{page.author}}</strong> &nbsp;&nbsp;
  编辑: <strong>{{page.editor}}</strong>
</p>

<hr>
<!-- upper page navigation -->
{% include prev-next-post.html %}

{{content}}

<!-- lower page navigation -->
{% include prev-next-post.html %}

<!-- comment section -->
{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>


  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//morvanzhou.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
