---
layout: base
nav-items:
  - top-name: "推荐学习顺序"
    tut-path: "learning-steps/"
    icon-path: "learning-steps.png"
  - top-name: "Python基础 ▾"
    tut-path: "python-basic/"
    icon-path: "python_icon.png"
    drop-contents:
      - name: "基础"
        link: "basic/"
        has-cont: no
        icon-path: "basic_icon.png"
      - name: "多进程 multiprocessing"
        link: "multiprocessing/"
        has-cont: no
        icon-path: "multiprocessing_icon.png"
      - name: "多线程 threading"
        link: "threading/"
        has-cont: no
        icon-path: "thread_icon.png"
      - name: "窗口视窗 Tkinter"
        link: "tkinter/"
        has-cont: no
        icon-path: "GUI_icon.png"
  - top-name: "机器学习 ▾"
    tut-path: "machine-learning/"
    icon-path: "ML_icon.png"
    drop-contents:
      - name: "有趣的机器学习"
        has-cont: no
        link: "ML-intro/"
        icon-path: "ML_intro_icon.png"
      - name: "强化学习 Reinforcement Learning"
        has-cont: no
        link: "reinforcement-learning/"
        icon-path: "rl_icon.png"
      - name: "进化算法 Evolutionary Algorithm"
        has-cont: no
        link: "evolutionary-algorithm/"
        icon-path: "evolution_icon.png"
      - name: "神经网络 ▾"
        has-cont: "yes"
        icon-path: "neural_net_icon.png"
        link:
          - ["Tensorflow", "tensorflow/", "tf_icon.png"]
          - ["PyTorch", "torch/", "torch_icon.png"]
          - ["Theano", "theano/", "theano_icon.png"]
          - ["Keras", "keras/", "keras_icon.jpg"]
      - name: "通用机器学习 Scikit-learn"
        has-cont: no
        link: "sklearn/"
        icon-path: "sklearn_icon.png"
      - name: "机器学习实战"
        has-cont: no
        link: "ML-practice/"
        icon-path: "ML-practice_icon.png"
  - top-name: "数据处理 ▾"
    tut-path: "data-manipulation/"
    icon-path: "data_icon.png"
    drop-contents:
      - name: "数据 Numpy & Pandas"
        link: "np-pd/"
        has-cont: no
        icon-path: "np_pd_icon.png"
      - name: "画图 Matplotlib"
        link: "plt/"
        has-cont: no
        icon-path: "plt_icon.png"
  - top-name: "提效工具 ▾"
    tut-path: "others/"
    icon-path: "others_icon.png"
    drop-contents:
      - name: "Git 版本管理"
        link: "git/"
        has-cont: no
        icon-path: "git_icon.png"
      - name: "Linux 简易教学"
        link: "linux-basic/"
        has-cont: no
        icon-path: "linux_icon.png"
---


<header>
  <nav id="home-nav">
    <ul>
      <li><a class="nav-home" href="{{site.baseurl}}/" ><strong>莫烦PYTHON</strong></a></li>
      <li><a href="{{site.baseurl}}/discuss/">大家说</a></li>
      <li><a href="{{site.baseurl}}/support/">赞助</a></li>
      <li><a href="{{site.baseurl}}/about/">About</a></li>
      <li>

        <a class="search-bar clicker"><img class="search-img" src="{{site.baseurl}}/static/img/icon/search_icon.png" alt="Go"></a>

        <!-- 360 search -->
        <!--<form class="search-box dropdown-content" action="https://www.so.com/s" target="_blank">-->
          <!--<input class="search-text" type="text" autocomplete="on" name="q" size="20" >-->
          <!--<input type="hidden" name="ie" value="utf8">-->
          <!--<input type="hidden" name="src" value="zz_morvanzhou.github.io">-->
          <!--<input type="hidden" name="site" value="morvanzhou.github.io">-->
          <!--<input type="hidden" name="rg" value="1">-->
        <!--</form>-->

        <!-- bing search -->
        <form class="search-box dropdown-content" method="get" action="https://www.bing.com/search" target="_blank">
          <input type="hidden" name="q1" value="site:morvanzhou.github.io" />
          <input class="search-text" type="text" name="q" placeholder="Search.." size="20" value=""/>
        </form>
      </li>

      <!-- tutorial navigation -->
      <li class="dropbtn"><a class="clicker">教程 ▾</a>
        <ul class="dropdown-content">
          {% for item in layout.nav-items %}
            <li class="dropbtn">
              <a class="{% if item.tut-path != 'learning-steps/' %}clicker{% endif %}" href="{% if item.tut-path == 'learning-steps/' %}/{{item.tut-path}}{% endif %}">
                <img class="icon-image" src="/static/img/icon/{{ item.icon-path }}">
                {{ item.top-name }}
              </a>
              {% if item.tut-path != 'learning-steps/' %}
              <ul class="dropdown-content">
                {% for sub-item in item.drop-contents %}
                  {% if sub-item.has-cont == "yes" %}
                    <li class="dropbtn"><img class="icon-image" src="/static/img/icon/{{ sub-item.icon-path }}" style="max-width:1.5em; max-height:1.1em;">
                      <a class="clicker">{{ sub-item.name }}</a>
                      <ul class="dropdown-content">
                        {% for sub-item-link in sub-item.link %}
                        <li><img class="icon-image" src="/static/img/icon/{{ sub-item-link[2] }}" style="max-width:1.5em; max-height:1.1em;">
                          <a href="{{ site.baseurl }}/tutorials/{{ item.tut-path }}{{ sub-item-link[1] }}">{{ sub-item-link[0] }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li><img class="icon-image" src="/static/img/icon/{{ sub-item.icon-path }}" style="max-width:1.5em; max-height:1.1em;">
                      <a href="{{ site.baseurl }}/tutorials/{{ item.tut-path }}{{ sub-item.link }}">{{ sub-item.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>


{{content}}
